﻿﻿@using PBShop.Models;
@model List<ProductModel>
@{
    ViewBag.Title = "ShopCart";
    Layout = "~/Views/Shared/PBShopHome_Layout.cshtml";
}

<div class="container">

    <!--Top banner-->
    <!--Cart Table-->
    <div class="shopping-cart-container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h3 class="box-title">Your cart items</h3>
                @using (Html.BeginForm(new { @class = "shopping-cart-form" }))
                {
                    <table class="shop_table cart-form">
                        <thead>
                            <tr>
                                <th class="select" ><input type="checkbox" class="all-checkbox"  value="0" /></th>
                                <th class="product-name">Tên</th>
                                <th class="product-price">Giá</th>
                                <th class="product-quantity">Số Lượng</th>
                                <th class="product-subtotal">Thanh Tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr class="cart_item">
                                <td class="select">
                                    <input  type="checkbox" class="my-checkbox" value="@item.IDP" />
                                </td>
                                <td class="product-thumbnail" data-title="Product Name">
                                    <a class="prd-thumb" href="#">
                                        <figure><img width="113" height="113" src="~/Theme/assets/images/products/@item.AnhBiaP" alt="shipping cart"></figure>
                                    </a>
                                    <a class="prd-name" href="#">@item.NameP</a>
                                    <div class="action">
                                        <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        <a href="@Url.Action("XoaSPKhoiGioHang","ShoppingCart", new { ID = @item.IDP , url = Request.Url.ToString() })" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </div>
                                </td>
                                <td class="product-price" data-title="Price">
                                    <div class="price price-contain">
                                        <ins><span class="price-amount"><span class="currencySymbol">₫</span>@item.PricePromotionalP</span></ins>
                                        <del><span class="price-amount"><span class="currencySymbol">₫</span>@item.PriceP</span></del>
                                    </div>
                                </td>
                                @*<a href="@Url.Action("ThemGioHang","ShoppingCart", new { ms = @item.IDP })" class="a">
                                    hahagfhgfhfgh
                                </a>*@
                                <td class="product-quantity" data-title="Quantity">
                                    <div class="quantity-box type1">
                                        <div class="qty-input">
                                            <input type="text"
                                                   name="qty12554"
                                                   value="@item.SoLuongP"
                                                   data-max_value="20"
                                                   data-min_value="1"
                                                   data-step="1" />
                                            <a href="#" class="qty-btn btn-up" id="btn_up" onclick="Increase(@item.IDP)">
                                                <i class="fa fa-caret-up"
                                                   aria-hidden="true"></i>
                                            </a>

                                            <a href="#" class="qty-btn btn-down " id="btn_down" onclick="Decrease(@item.IDP)">
                                                <i class="fa fa-caret-down"
                                                   aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                @*<td class="product-quantity" data-title="Quantity">
            <div class="quantity-box type1">
                <div class="qty-input">

                    @using (Html.BeginForm("CapNhatTongSoLuongP", "PBSopHome", FormMethod.Get, new { @class = "form-search" }))
                    {

                        <input type="text" name="quantity" value="1" data-max_value="20" data-min_value="1" new { ms = @item.IDP}) data-step="1">
                        <a href="#" class="qty-btn btn-up"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                        <a href="#" class="qty-btn btn-down"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                    }

                </div>
            </div>
        </td>*@
                                <td class="product-subtotal" data-title="Total">
                                    <div class="price price-contain">
                                        <ins><span class="price-amount  ">₫<span class="currencySymbol" id="HienThi_@item.IDP">@item.dThanhTien</span></span></ins>
                                        @*<del><span class="price-amount"><span class="currencySymbol">£</span>@item.PricePromotionalP</span></del>*@
                                    </div>
                                </td>
                            </tr>
                            }
                            <tr class="cart_item wrap-buttons">
                                <td class="wrap-btn-control" colspan="4">
                                    <a class="btn back-to-shop">Back to Shop</a>
                                    <button class="btn btn-update" type="submit" disabled>update</button>
                                    <a href="@Url.Action("XoaGioHang", "ShoppingCart")" class="btn btn-clear">
                                        @*<button class="btn btn-clear" type="reset">*@Xóa Tất Cả@*</button>*@
                                    </a>


                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
                @*<form class="shopping-cart-form" action="#" method="post">
                    </form>*@
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="shpcart-subtotal-block">
                    <div class="subtotal-line">
                        <b class="stt-name">Tổng<span class="sub"> (@Model.Count() Sản Phẩm)</span></b>
                        <span class="stt-price">₫<span id="total-price"></span></span>
                    </div>
                    <div class="subtotal-line">
                        <b class="stt-name">Phí Vận Chuyển</b>
                        <span class="stt-price">₫0.00</span>
                    </div>
                    <div class="tax-fee">
                        <p class="title">Est. Taxes & Fees</p>
                        @*<p class="desc">Based on 56789</p>*@
                    </div>
                    <div class="btn-checkout">
                        <a href="@Url.Action("DatHang","ShoppingCart")" class="btn checkout">Thanh Toán</a>
                    </div>
                    <div class="biolife-progress-bar">
                        <table>
                            <tr>
                                <td class="first-position">
                                    <span class="index">₫0</span>
                                </td>
                                <td class="mid-position">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                                <td class="last-position">
                                    <span class="index">₫99</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <p class="pickup-info"><b>Giao hàng miễn phí </b>cho đơn hàng trị giá trên 200k</p>
                </div>
            </div>
        </div>
    </div>

    <!--Related Product-->
    <div class="product-related-box single-layout">
        <div class="biolife-title-box lg-margin-bottom-26px-im">
            <span class="biolife-icon icon-organic"></span>
            <span class="subtitle">All the best item for You</span>
            <h3 class="main-title">Related Products</h3>
        </div>
        <ul class="products-list biolife-carousel nav-center-02 nav-none-on-mobile" data-slick='{"rows":1,"arrows":true,"dots":false,"infinite":false,"speed":400,"slidesMargin":0,"slidesToShow":5, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 4}},{"breakpoint":992, "settings":{ "slidesToShow": 3, "slidesMargin":20}},{"breakpoint":768, "settings":{ "slidesToShow": 2, "slidesMargin":10}}]}'>
            <li class="product-item">
                <div class="contain-product layout-default">
                    <div class="product-thumb">
                        <a href="#" class="link-to-product">
                            <img src="assets/images/products/p-13.jpg" alt="dd" width="270" height="270" class="product-thumnail">
                        </a>
                    </div>
                    <div class="info">
                        <b class="categories">Fresh Fruit</b>
                        <h4 class="product-title"><a href="#"  class="pr-name">National Fresh Fruit</a></h4>
                        <div class="price ">
                            <ins><span class="price-amount" ><span class="currencySymbol">£</span >@*85.00*@</span></ins>
                            <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                        </div>
                        <div class="slide-down-box">
                            <p class="message">All products are carefully selected to ensure food safety.</p>
                            <div class="buttons">
                                <a href="#" class="btn wishlist-btn"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="btn add-to-cart-btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>add to cart</a>
                                <a href="#" class="btn compare-btn"><i class="fa fa-random" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item"  >
                <div class="contain-product layout-default">
                    <div class="product-thumb">
                        <a href="#" class="link-to-product">
                            <img src="assets/images/products/p-14.jpg" alt="dd" width="270" height="270" class="product-thumnail">
                        </a>
                    </div>
                    <div class="info">
                        <b class="categories">Fresh Fruit</b>
                        <h4 class="product-title"><a href="#" class="pr-name">National Fresh Fruit</a></h4>
                        <div class="price">
                            <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                            <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                        </div>
                        <div class="slide-down-box">
                            <p class="message">All products are carefully selected to ensure food safety.</p>
                            <div class="buttons">
                                <a href="#" class="btn wishlist-btn"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="btn add-to-cart-btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>add to cart</a>
                                <a href="#" class="btn compare-btn"><i class="fa fa-random" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item">
                <div class="contain-product layout-default">
                    <div class="product-thumb">
                        <a href="#" class="link-to-product">
                            <img src="assets/images/products/p-15.jpg" alt="dd" width="270" height="270" class="product-thumnail">
                        </a>
                    </div>
                    <div class="info">
                        <b class="categories">Fresh Fruit</b>
                        <h4 class="product-title"><a href="#" class="pr-name">National Fresh Fruit</a></h4>
                        <div class="price">
                            <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                            <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                        </div>
                        <div class="slide-down-box">
                            <p class="message">All products are carefully selected to ensure food safety.</p>
                            <div class="buttons">
                                <a href="#" class="btn wishlist-btn"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="btn add-to-cart-btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>add to cart</a>
                                <a href="#" class="btn compare-btn"><i class="fa fa-random" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item">
                <div class="contain-product layout-default">
                    <div class="product-thumb">
                        <a href="#" class="link-to-product">
                            <img src="assets/images/products/p-10.jpg" alt="dd" width="270" height="270" class="product-thumnail">
                        </a>
                    </div>
                    <div class="info">
                        <b class="categories">Fresh Fruit</b>
                        <h4 class="product-title"><a href="#" class="pr-name">National Fresh Fruit</a></h4>
                        <div class="price">
                            <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                            <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                        </div>
                        <div class="slide-down-box">
                            <p class="message">All products are carefully selected to ensure food safety.</p>
                            <div class="buttons">
                                <a href="#" class="btn wishlist-btn"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="btn add-to-cart-btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>add to cart</a>
                                <a href="#" class="btn compare-btn"><i class="fa fa-random" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item">
                <div class="contain-product layout-default">
                    <div class="product-thumb">
                        <a href="#" class="link-to-product">
                            <img src="assets/images/products/p-08.jpg" alt="dd" width="270" height="270" class="product-thumnail">
                        </a>
                    </div>
                    <div class="info">
                        <b class="categories">Fresh Fruit</b>
                        <h4 class="product-title"><a href="#" class="pr-name">National Fresh Fruit</a></h4>
                        <div class="price">
                            <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                            <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                        </div>
                        <div class="slide-down-box">
                            <p class="message">All products are carefully selected to ensure food safety.</p>
                            <div class="buttons">
                                <a href="#" class="btn wishlist-btn"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="btn add-to-cart-btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>add to cart</a>
                                <a href="#" class="btn compare-btn"><i class="fa fa-random" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item">
                <div class="contain-product layout-default">
                    <div class="product-thumb">
                        <a href="#" class="link-to-product">
                            <img src="assets/images/products/p-21.jpg" alt="dd" width="270" height="270" class="product-thumnail">
                        </a>
                    </div>
                    <div class="info">
                        <b class="categories">Fresh Fruit</b>
                        <h4 class="product-title"><a href="#" class="pr-name">National Fresh Fruit</a></h4>
                        <div class="price">
                            <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                            <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                        </div>
                        <div class="slide-down-box">
                            <p class="message">All products are carefully selected to ensure food safety.</p>
                            <div class="buttons">
                                <a href="#" class="btn wishlist-btn"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="btn add-to-cart-btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>add to cart</a>
                                <a href="#" class="btn compare-btn"><i class="fa fa-random" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item">
                <div class="contain-product layout-default">
                    <div class="product-thumb">
                        <a href="#" class="link-to-product">
                            <img src="assets/images/products/p-18.jpg" alt="dd" width="270" height="270" class="product-thumnail">
                        </a>
                    </div>
                    <div class="info">
                        <b class="categories">Fresh Fruit</b>
                        <h4 class="product-title"><a href="#" class="pr-name">National Fresh Fruit</a></h4>
                        <div class="price">
                            <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                            <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                        </div>
                        <div class="slide-down-box">
                            <p class="message">All products are carefully selected to ensure food safety.</p>
                            <div class="buttons">
                                <a href="#" class="btn wishlist-btn"><i class="fa fa-heart" aria-hidden="true"></i></a>
                                <a href="#" class="btn add-to-cart-btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>add to cart</a>
                                <a href="#" class="btn compare-btn"><i class="fa fa-random" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>



@section Scriptss{
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script>
        function Increase(id) {
             $.ajax({
            url: '@Url.Action("TangLen", "ShoppingCart")',
            type: 'GET',
                 data: { ms: id },
                 success: function (data) {
                     /*$("#" + id).html(data);*/
                     $("#HienThi_" + id).html(data);
                            }
                });
        }

        function Decrease(id) {
             $.ajax({
            url: '@Url.Action("GiamXuong", "ShoppingCart")',
            type: 'GET',
                 data: { ms: id },
                 success: function (data) {
                     $("#HienThi_" + id).html(data);
                            }
                });
        }

        $(document).ready(function () {
            $(".checkout").click(function () {
            var selectedValues = [];
            $(".my-checkbox:checked").each(function () {
                selectedValues.push($(this).val());
            });
                
                if (selectedValues.length > 0) {
                    $.ajax({
                    url: '@Url.Action("DatHang", "ShoppingCart")',
                     type: 'POST',
                    data: { selectedValues: selectedValues},
                    success: function (data) {
                    }
                });
            }
        });
    });


        $(document).ready(function () {
            $('.all-checkbox').change(function () {
                if ($(this).prop('checked')) {
                    $('.my-checkbox').prop('checked', true);
                } else {
                    $('.my-checkbox').prop('checked', false);
                }
            });
        });


        //$(document).ready(function () {


        //    if (".all-checkbox:checked") {
        //        $(".my-checkbox:checked")
        //        $('.my-checkbox').attr('checked', true);
        //} else {
        //        $('.myCheckbox').attr('checked', false);
        //}

        //});

       

         @*$(document).ready(function () {
             $(".btn-up").click(function () {
            var productId = $(this).data("product-id");
            alert(productId);
            $.ajax({
                url: '@Url.Action("TangLen", "ShoppingCart")',
                type: 'POST',
                data: { ms: productId},
                success: function (data) {
                    // Cập nhật tổng giá sản phẩm
                    $(this).closest(".cart_item").find("#HienThi").attr("id", "hksehsej");
                }
            });
        });
    });*@



    </script>
}