@model IEnumerable<PBShop.Models.GetProduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutManage.cshtml";
}

<style>
    .btn {
        margin-right: 10px;
    }

    tbody {
        height: 300px;
        overflow-y: auto;
        width: 100%;
    }

    .ms-n5 {
        margin-left: -40px;
    }
    .Linksort {
        text-decoration: none;
        color: #212529;
    }
    /* tbody tr{
        height: 100px;
        width:100%;

    }*/
</style>
<!-- Button trigger modal -->
@*<table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>twitter</td>
            </tr>
        </tbody>
    </table>*@
<h2>Quản lý sản phẩm</h2>


<div class="data_container" style="width:100% ; ">

    <hr />
    <div class="row g-3" style="margin-bottom:20px">
        <div class="col-md-3">
            <a href="@Url.Action("Create","Home")" class="btn btn-success">Thêm Mới</a>
        </div>

        <div class="col-md-9 ">
            @using (Html.BeginForm("Index", "Home", new { Area = "Admin" }, FormMethod.Post, new { @class = "d-flex col-md-5 float-end" }))
            {
                <input class="form-control me-2 search-input" id="sip" name="search" type="text" placeholder="Nhập tên sản phẩm..." aria-label="Search">
                <button class="btn btn-outline-success search-btn" type="submit">Tìm</button>
            }
            @*<form class="d-flex col-md-5 float-end">
            </form>*@
        </div>
    </div>
    <div class="table__container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        @*@Html.DisplayNameFor(model => model.ID)*@
                        ID

                    </th>
                    <th scope="col">
                        @*@Html.DisplayNameFor(model => model.Name)*@
                       
                        @Html.ActionLink("Tên", "Index", new { sortProperty = "Name", sortOrder = ViewBag.SortOrder },new { @class = "Linksort"})
                    </th>
                    <th scope="col">
                        @*@Html.DisplayNameFor(model => model.Price)*@
                        @Html.ActionLink("Giá", "Index", new { sortProperty = "Price", sortOrder = ViewBag.SortOrder }, new { @class = "Linksort" })
                    </th>
                    <th scope="col">
                        @*@Html.DisplayNameFor(model => model.Price)*@
                       
                        @Html.ActionLink("Giá Khuyến Mãi", "Index", new { sortProperty = "Promotional_Price", sortOrder = ViewBag.SortOrder }, new { @class = "Linksort" })
                    </th>
                    <th scope="col">
                        @*@Html.DisplayNameFor(model => model.Img)*@
                        Loại
                    </th>
                    <th scope="col">
                        @*@Html.DisplayNameFor(model => model.Img)*@
                        Ảnh
                    </th>
                    <th scope="col" style="width:250px">
                        Tháo Tác
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @*<th scope="row">@item.inde</th>*@

                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Promotional_Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NameType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Img)
                        </td>
                        <td>
                            @Html.ActionLink("Sửa", "Edit", new { id = item.ID }, new { @class = "btn btn-warning" })

                            @Html.ActionLink("Chi Tiết", "Details", new { id = item.ID }, new { @class = "btn btn-primary" })
                            @*@Html.ActionLink("Xóa", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })*@
                            <button class="btn btn-danger" onclick="ShowModal(@item.ID)" data-bs-toggle="modal" data-bs-target="#exampleModal">Xóa</button>
                            @*<button onclick="openDetailsModal(@item.ID)">hehe</button>*@
                            <!-- Button to trigger modal -->
                            @*<button class="btn btn-info details-button" data-toggle="modal" data-target="#detailsModal" data-id="@item.ID">Show Details</button>*@
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>



    <!-- Modal dsdsd-->
    <!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    </div-->



    @section Scriptss{
        <script>

        function testd(id) {
             $.ajax({
            url: '@Url.Action("Delete", "Home")',
            type: 'POST',
                 data: { id: id },
                 success: function (data){

                     loadd();
                            }
                });
            };



            function Findata() {
             $.ajax({
            url: '@Url.Action("FindData", "Home")',
            type: 'POST',
                 data: { id: id },
                 success: function (data){

                     loadd();
                            }
                });
            };


            // function Findata() {
            //     alert("test");
            //};


            //$('.search-btn').click(function () {
            //    var search = $("#sip").val();
            //    alert("heheh")
                @*$.ajax({
            url: '@Url.Action("FindData", "Home")',
            type: 'GET',
                    data: { search: search },
                    success: function (data) {
                        alert("hehejeh");
                     $(".table__container").html(data);
                            }
                });*@
            });

         function loadd() {
             $.ajax({
            url: '@Url.Action("ReloadData", "Home")',
            type: 'GET',

                 success: function (data){

                     $(".hehehehe").html(data);
                            }
                });
        };
        </script>
    }

    @section Data{
        <script>
       function openDetailsModaltsdfsd(id) {
    alert("hsjhdkfhf");
    $.ajax({
        type: "GET",
        url: '@Url.Action("Modal", "Home")', // Replace 'ControllerName' with your controller's name
        data: { id: id },
        success: function (data) {
            // Load the data into the modal body
            alert("thành công");
            $(".hehehehe").html(data);

        }
    });
}


         function openDetailsModasdsadl() {
        alert("hsjhdkfhf");

        };
        @*function deleteP() {

            $.ajax({
                url: '@Url.Action("DeleteConfirmed", "Home")',
                type: 'POST',
                data: { id: id },
                success: function (data) {
                    alert("thành công");
                    $(".hehe").html(data);
                },
                error: function (xhr, status, error) {

                }
            });


         function ReloadData() {

             $.ajax({
            url: '@Url.Action("ReloadData", "Home")',
                 type: 'POST',
                 success: function (data) {
                     $(".hehe").html(data);
                            }
                });
        }*@

        </script>
    }
